body.node-type-page-front {
  .l-page {
    .alert {
      margin: 0;
    }
    .l-header {
      height: 210px;
      background: none;
      position: absolute;
      width: 100%;
      z-index: 2;

      div.l-branding {
        margin-top: 30px;
        @include respond-to(small) {
            margin-top: 10px;
        }

        a.site-logo img {
          height: 106px;
        }
      }

      .header-menus {
        #block-system-main-menu {
          ul.menu {
            margin-top: 35px;
            li {
              a {
                @include transition(all 200ms ease-in);
                color: white;
                line-height: 30px;
                &:active {
                  border-bottom: 3px solid $orange;
                }
                &:hover, &:focus {
                  background: none;
                  color: $grey;
                  outline: none;
                }
              }
            }
          }
        }

        #block-locale-language {
          .current-lang {
            color: white;
          }
        }
      }
    }

    .l-main {
      width: 100%;
      padding: 0;

      article.node-page-front {
        div.group-top {
          background: url(../assets/img/bg-home.jpg);
          background-repeat: no-repeat;
          background-position: top center;
          background-size: cover;
          height: 780px;
          padding-top: 300px;

          div.field-name-field-title, div.field-name-field-subtitle {
            text-align: center;
            color: white;
            max-width: 1200px;
            margin: auto;
            padding-left: 30px;
            padding-right: 30px;

            &.field-name-field-title {
              h1 {
                font-size: 60px;
                text-transform: uppercase;
                line-height: 60px;
              }
            }

            &.field-name-field-subtitle {
              margin-bottom: 100px;

              .field-items .field-item {
                font-size: 22px;
                margin-top: 15px;
              }
            }
          }

          .group-key-figures {
            height: auto;
            padding: 0;
            background-color: transparent;

            .field-name-field-key-figures {
              margin: 0;

              .field-name-field-figure-prefix, .field-name-field-figure, .field-name-field-figure-suffix {
                color: white;
              }
            }
          }
        }

        div.group-benefits {
          overflow: hidden;
          background: linear-gradient(90deg, $lightBlue 50%, $orange 50%);
          padding-top: 100px;
          padding-bottom: 100px;
          text-align: center;

          a.button {
              margin-top: 70px;

              &:hover, &:active {
                background-color: $lightGrey;
              }
          }

          div.group-suppliers-benefits {
            box-sizing: border-box;
            width: 510px;
            display: inline-block;
            vertical-align: top;
            color: white;
            text-align: left;
            margin-right: 60px;

            div.field-name-field-suppliers-title {
              h2 {
                font-size: 42px;
                line-height: 42px;
              }
            }

            div.field-name-field-suppliers-benefits {
              div.field-item {
                box-sizing: border-box;
                position: relative;
                margin-top: 40px;
                padding: 0 50px;
                font-size: 18px;

                &:before {
                  content: url(../assets/pictos/check.svg);
                  width: 20px;
                  height: 20px;
                  position: absolute;
                  top: 4px;
                  left: 5px;
                }
              }
            }
          }

          div.group-allies-benefits {
            box-sizing: border-box;
            width: 510px;
            display: inline-block;
            vertical-align: top;
            color: white;
            text-align: left;
            margin-left: 60px;

            div.field-name-field-allies-title {
              h2 {
                font-size: 42px;
                line-height: 42px;
              }
            }

            div.field-name-field-allies-benefits {
              div.field-item {
                box-sizing: border-box;
                position: relative;
                margin-top: 40px;
                padding: 0 50px;
                font-size: 18px;

                &:before {
                  content: url(../assets/pictos/check.svg);
                  width: 20px;
                  height: 20px;
                  position: absolute;
                  top: 4px;
                  left: 5px;
                }
              }
            }
          }
        }

        .field-name-field-allies-view {
          margin-top: 100px;
          margin-bottom: 70px;
        }
      }
    }
  }
}

@include respond-to(small) {
  body.node-type-page-front {
    .l-page {
      .l-main {
        article.node-page-front {
          div.group-top {
            padding-top: 220px;

            div.field-name-field-title, div.field-name-field-subtitle {
              &.field-name-field-subtitle {
                margin-bottom: 100px;
              }
            }
          }

          div.group-benefits {
            background: none;
            padding: 0;

            div.group-suppliers-benefits {
              background-color: $lightBlue;
              width: 100%;
              margin: 0;
              padding: 100px;
            }

            div.group-allies-benefits {
              background-color: $orange;
              width: 100%;
              margin: 0;
              padding: 100px;
            }
          }
        }
      }
    }
  }
}

@include respond-to(tablet) {
  body.node-type-page-front {
    .l-page {
      .l-main {
        article.node-page-front {
          div.group-top {
            div.field-name-field-title, div.field-name-field-subtitle {
              &.field-name-field-title {
                h1 {
                  font-size: 50px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include respond-to(mobile) {
  body.node-type-page-front {
    .l-page {
      .l-header {
        height: auto;

        div.l-branding {
          margin-top: 0;

          a.site-logo img {
            height: 70px;
          }
        }
      }

      .l-main {
        article.node-page-front {
          div.group-top {
            padding-top: 80px;
            height: 560px;

            div.field-name-field-title, div.field-name-field-subtitle {
              &.field-name-field-title {
                padding-left: 10px;
                padding-right: 10px;
                h1 {
                  font-size: 30px;
                  line-height: 40px;
                }
              }

              &.field-name-field-subtitle {
                margin-bottom: 50px;
              }
            }
          }

          div.group-benefits {
            div.group-suppliers-benefits {
              padding: 30px;

              div.field-name-field-suppliers-title {
                h2 {
                  font-size: 30px;
                  line-height: 30px;
                }
              }
            }

            div.group-allies-benefits {
              padding: 30px;

              div.field-name-field-allies-title {
                h2 {
                  font-size: 30px;
                  line-height: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}
