body.node-type-page-suppliers {
    div.l-page {
        background-image: url('../assets/img/bg-suppliers.jpg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100%;
        @include respond-to(mobile) {
            background-size:cover;
        }

        div.breadcrumb-container {
            border-bottom: none;
            background: rgba(255,255,255,0.7);
        }

        div.l-main {
            width: 100%;
            padding: 0;
            margin: 0;

            article {
                div.field-name-field-page-title {
                    padding: 160px 0 0 0;

                    @include respond-to(tablet) {
                        padding: 80px 0 0 0;
                    }

                    div.field-items {
                        width: 1200px;
                        margin: 0 auto;
                        padding: 0 30px;

                        @include respond-to(small) {
                            width: 100%;
                        }

                        div.field-item {
                            p {
                                color: white;
                                text-align: center;
                            }
                        }
                    }
                }
                div.link-wrapper {
                    margin-top: 30px;
                    padding-bottom: 160px;

                    @include respond-to(tablet) {
                        padding-bottom: 80px;
                    }

                    a {
                        display: block;
                        margin: 0 auto;
                        background-color: $orange;
                        background-image:url('../assets/pictos/arrow_white.svg');
                        color: white;
                        &:hover {
                            background-color: $darkOrange;
                        }
                    }
                }
                div.field-name-field-body {
                    background: white;

                    div.field-items {
                        width: 1200px;
                        margin: 0 auto;
                        padding: 60px 30px;

                        @include respond-to(small) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
