footer.l-footer {
    background-color: $darkGrey;

    .l-footer-inner {
        max-width: 1140px;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        padding-bottom: 20px;

        .l-branding {
            margin-top: 20px;
            margin-bottom: 20px;
            color: #889196;

            .footer-logo {
                display: block;
                text-align: center;
                clear: both;

                img {
                    height: 60px;
                }
            }
        }

        ul {
            li {
                display: block;
                margin-bottom: 5px;
                a {
                    display: block;
                    text-decoration: none;
                    color: $grey;
                    padding: 0;
                    &:hover {
                        color: white;
                        background-color: transparent;
                    }
                }
            }
        }

        #block-menu-menu-main-footer-menu {
            display: inline-block;
            vertical-align: top;
            width: 49%;
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;

            h2 {
                font-size: 16px;
                color: white;
                margin-bottom: 10px;
            }
        }

        #block-main-main-footer-language-switcher {
            display: inline-block;
            vertical-align: top;
            width: 49%;
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;

            h2 {
                font-size: 16px;
                color: white;
                margin-bottom: 10px;
            }
        }
    }
}

@include respond-to(tablet) {
    footer.l-footer {
        background-color: $blue;

        .l-footer-inner {
            max-width: 100%;

            ul {
                text-align: center;
            }

            #block-menu-menu-main-footer-menu {
                -webkit-column-count: 1;
                -moz-column-count: 1;
                column-count: 1;
            }

            #block-main-main-footer-language-switcher {
                -webkit-column-count: 1;
                -moz-column-count: 1;
                column-count: 1;
            }
        }
    }
}

@include respond-to(mobile) {
    footer.l-footer {
        background-color: $blue;

        .l-footer-inner {
            max-width: 100%;

            ul {
                text-align: center;
            }

            #block-menu-menu-main-footer-menu {
                display: block;
                width: 100%;
                margin-bottom: 25px;
            }

            #block-main-main-footer-language-switcher {
                display: block;
                width: 100%;
            }
        }
    }
}
