.node-sub-steps.node-teaser {
  position: relative;

  &>a.arrow {
    position: absolute;
    right: 0;
    top: 0;
  }

  .field-name-title-field {
    width: 80%;
    font-size: 30px;
    font-weight: 800;
    line-height: 35px;
    margin-bottom: 40px;
    color: $mediumGrey;
  }

  .field-name-field-documents {
    max-width: 560px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    .field-item:not(:last-child) .file {
      border-bottom: 0;
    }
  }
}


@include respond-to(mobile) {
  .node-sub-steps.node-teaser {
    & > a.arrow {
      position: static;
    }
    .field-name-title-field {
      width: 100%;
    }
  }
}
