.node-teaser.node-supplier-profile {
    background-color: #fff;
    margin-top: 20px;
    padding: 30px 30px 30px 0;
    position: relative;
    display: table;
    width: 100%;

    &.arena-supplier {
        background-image: url('../logo.svg');
        background-repeat: no-repeat;
        background-position: top 10px right 10px;
        background-size: 45px 40px;
        
        h2 {
            padding-right: 35px;
        }
    }

    .group-image {
        display: table-cell;
        vertical-align: middle;
        width: 170px;
        padding-left: 30px;

        img {
            max-width: 140px;
            max-height: 140px;
            margin: 0 auto;
        }
    }

    .group-content {
        display: table-cell;
        vertical-align: middle;
        padding-left: 30px;

        .field-name-field-company-name a {
            font-family: 'Raleway';
            font-weight: 800;
            font-size: 28px;
            color: $blue;

            &:hover {
                color: $blue;
            }
        }

        .field-name-field-establishment-date {
            font-size: 16px;
            color: $orange;
            padding-top: 4px;
        }

        .field-name-field-description {
            font-size: 14px;
            color: $blue;
            padding-top: 8px;
        }
    }

    footer {
        display: none;
    }
}

@include respond-to(mobile) {
    .node-teaser.node-supplier-profile {

        &.arena-supplier {
            background-size: 30px 27px;
        }

        .group-image {
            width: 100%;
            display: inline-block;
            margin-bottom: 30px;
        }

        .group-content {
            width: 100%;
            display: inline-block;
        }
    }
}