body.page-my-space-documentation,
body.page-my-space-newsletters {
  #block-main-private-main-private-contextual {
    float: left;
    width: 330px;

    .newsletter, .reset {
      background-color: white;
      padding: 15px;
      margin-bottom: 20px;
      font-weight: bold;
    }
    .reset {
        background-color: $orange;
        
        & > a {
            color: #fff;
            background-image: url("../assets/pictos/arrow_white.svg");
        }
    }

    .branch-container {
      background-color: white;
      margin-bottom: 20px;
      padding-bottom: 15px;
      display: block;

      a {
        color: black;
      }

      .active > div > a {
        color: $orange;
      }

      .branch-title {
        border-bottom: 1px solid $lightGrey;
        padding: 15px;
        margin-bottom: 15px;
        font-weight: bold;
      }

      .subbranch-container {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;

        .subbranch-title {
          position: relative;
          cursor: pointer;

          .chevron {
            position: absolute;
            right: 0;
          }
        }

        .subsubbranch-container {
          display: none;
          padding-top: 5px;
          padding-left: 15px;
        }

        &.active {
          .subbranch-title .chevron {
            transform: rotate(90deg);
          }

          .subsubbranch-container {
            display: block;
          }
        }
      }
    }
  }

  .view-documentation.view-display-id-page,
  .view-newsletters.view-display-id-page {
    float: left;
    width: 750px;
    padding: 30px;
    margin-left: 60px;
    background-color: white;

    h2 {
      margin-bottom: 20px;
    }

    .view-header {
      padding-bottom: 20px;
      h2 {
        margin-bottom: 10px;
      }
    }
    .views-row:not(.views-row-last) .file {
      border-bottom: transparent;
    }
  }
}

body.page-my-space-newsletters {
    #block-main-private-main-private-contextual {

        .reset {
          background-color: white;
          
          & > a {
              color: $orange;
              background-image: url("../assets/pictos/arrow_orange.svg");
          }
        }
        .newsletter {
            background-color: $orange;

            & > a {
                color: #fff;
                background-image: url("../assets/pictos/arrow_white.svg");
            }
        }
    }
}

@include respond-to(small) {
  body.page-my-space-documentation,
  body.page-my-space-newsletters {
    #block-main-private-main-private-contextual {
      width: 250px;
    }

    .view-documentation.view-display-id-page,
    .view-newsletters.view-display-id-page {
      margin-left: 30px;
      width: calc(100% - 30px - 250px);
    }
  }
}

@include respond-to(tablet) {
  body.page-my-space-documentation,
  body.page-my-space-newsletters {
    #block-main-private-main-private-contextual {
      float: none;
      width: 100%;
      margin-bottom: 20px;
    }

    .view-documentation.view-display-id-page,
    .view-newsletters.view-display-id-page {
      float: none;
      margin-left: 0px;
      width: 100%;
      padding: 20px;
    }
  }
}

@include respond-to(mobile) {
  body.page-my-space-documentation,
  body.page-my-space-newsletters {
    #block-main-private-main-private-contextual {
      margin-bottom: 10px;
      .reset {
        margin-bottom: 10px;
      }

      .branch-container {
        margin-bottom: 10px;
      }
    }

    .view-documentation.view-display-id-page,
    .view-newsletters.view-display-id-page {
      padding: 15px;
    }
  }
}
