body.page-my-space-product-catalog {
    .l-content {
        overflow: hidden;

        h1#title {
            background-image: url("../assets/img/go-on.png");
            background-size: 130px;
            background-repeat: no-repeat;
            font-size: 0;
            height: 40px;
            width: 130px;
            margin-top: 30px;
            margin-bottom: 20px;

            @include respond-to(tablet) {
                width: 100%;
                background-position: center;
            }
        }

        .region-sidebar-first {
            width: 330px;
            margin: 0;
            padding: 0;
            float: left;
            border: none;

            #block-arena-search-api-expose-filter-search {
                margin-bottom: 20px;

                .form-item-search-api-views-fulltext {
                    margin: 0;
                    padding: 0;
                    width: calc(100% - 50px);
                    float: left;

                    input[type=text] {
                        border: none;
                        height: 50px;
                        padding: 15px;
                        box-sizing: border-box;
                        box-shadow: none;

                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }
                }

                button {
                    display: block;
                    margin: 0;
                    padding: 0;
                    width: 50px;
                    height: 50px;
                    min-width: 0;
                    border-radius: 0px;
                    border: none;
                    color: transparent;

                    @include respond-to(mobile) {
                        background-position: center;

                        &:hover {
                            background-position: center right 10px;
                        }
                    }
                }
            }

            .block-facetapi {
                background-color: white;
                margin-bottom: 20px;

                h2 {
                    border-bottom: 1px solid $lightGrey;
                    padding: 15px;
                }

                ul.facetapi-facetapi-links, ul.facetapi-facetapi-checkbox-links {
                    padding: 15px;

                    a {
                        color: black;

                        &.facetapi-active {
                            color: $orange;
                        }
                    }

                    li {
                        & > ul {
                            display: none;
                            padding-left: 15px;
                        }

                        a {
                            display: block;
                            position: relative;
                            padding-top: 1px;
                            padding-bottom: 1px;

                            .chevron {
                                position: absolute;
                                right: 0;
                            }

                            &.facetapi-active {
                                display: block !important;

                                & + ul {
                                    display: block;
                                }

                                .chevron {
                                    transform: rotate(90deg);
                                }
                            }
                        }
                    }
                }

                ul.facetapi-facetapi-checkbox-links {
                    li {
                        input.facetapi-checkbox {
                            float: right;
                        }

                        a .chevron {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .region-content {
        float: left;
        margin-left: 60px;
        width: 750px;
        position: relative;

        #block-arena-search-api-expose-filter-sort-by {
            position: absolute;
            top: -40px;
            right: 0;

            padding: 0;

            label {
                display: inline;
            }

            .form-type-radios > label.control-label {
                font-weight: bold;
            }

            label.active {
                color: $orange;
            }
            .form-radios {
                display: inline;

                .form-item {
                    display: inline;

                    input {
                        display: none;
                    }
                }
            }

            .form-submit {
                display: none;
            }
        }

        #block-system-main {
            .view-products-catalog {
                .view-content {
                    overflow: hidden;

                    .views-row {
                        float: left;
                        margin-right: 30px;
                        margin-bottom: 30px;

                        &:nth-child(3n) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@include respond-to(small) {
    body.page-my-space-product-catalog {
        .l-content {
            .region-sidebar-first {
                float: none;
                width: 100%;
                height: 140px;

                .block-facetapi {
                    margin-right: 30px;
                    float: left;
                    width: calc((100% - 60px) / 3);
                    position: relative;

                    @include respond-to(small) {
                        h2 {
                            @include transition(all 200ms);
                            cursor: pointer;
                            &:hover {
                                background: $lightGrey;
                            }
                        }
                    }

                    @include respond-to(tablet) {
                        h2:hover {
                            background: inherit;
                        }
                    }

                    &:last-child {
                        margin: 0;
                    }

                    ul.facetapi-facetapi-links, ul.facetapi-facetapi-checkbox-links {
                        display: none;
                    }

                    &.active {
                        ul.facetapi-facetapi-links, ul.facetapi-facetapi-checkbox-links {
                            display: block;
                            position: absolute;
                            z-index: 1;
                            width: 100%;
                            background-color: white;
                            top: 58px;
                            left: 0;
                            @include respond-to(small) {
                                box-shadow: 0px 0px 3px rgba(0,0,0,0.08);
                            }
                        }
                    }
                }
            }

            .region-content {
                float: none;
                margin-left: 0px;
                margin-top: 20px;
                width: 100%;

                #block-arena-search-api-expose-filter-sort-by {
                    position: static;
                    width: 750px;
                    margin: auto;

                    form {
                        float: right;
                    }
                }

                #block-system-main {
                    .view-products-catalog {
                        .view-content {
                            width: 750px;
                            margin: auto;
                        }
                    }
                }
            }
        }
    }
}

@include respond-to(tablet) {
    body.page-my-space-product-catalog {
        .l-content {
            .region-sidebar-first {
                height: auto;

                .block-facetapi {
                    margin-right: 0px;
                    float: none;
                    width: 100%;
                }
            }

            .region-content {
                #block-arena-search-api-expose-filter-sort-by {
                    width: 728px;
                }

                #block-system-main {
                    .view-products-catalog {
                        .view-content {
                            width: 728px;
                            .views-row {
                                margin-right: 19px;
                                margin-bottom: 19px;

                                &:nth-child(3n) {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include respond-to(mobile) {
    body.page-my-space-product-catalog {
        .l-content {
            .region-content {
                #block-arena-search-api-expose-filter-sort-by {
                    width: 230px;

                    form {
                        float: none;

                        .form-item-sort-order {
                            display: block;
                            padding: 0;

                            label {
                                display: block;
                            }

                            .form-radios {
                                display: block;

                                .form-item {
                                    display: block;
                                }
                            }
                        }
                    }
                }

                #block-system-main {
                    .view-products-catalog {
                        .view-content {
                            width: 230px;

                            .views-row {
                                margin-right: 0;
                                margin-bottom: 10px;
                                float: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
