.group-key-figures {
  height: 460px;
  background-color: $blue;
  color: white;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 80px;

  .field-name-field-key-figures-title {
    max-width: 1140px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 24px;
    letter-spacing: 0.8px;
    font-weight: bold;
    text-align: center;
  }

  .field-name-field-key-figures {
    margin-top: 70px;
    & > .field-items > .field-item {
      display: inline-block;
      vertical-align: top;
      width: 20%;
      padding-left: 1%;
      padding-right: 1%;

      .field-name-field-figure-prefix {
        display: inline-block;
        font-weight: bold;
        font-size: 60px;
        letter-spacing: 0.5px;
        color: $middleBlue;
      }

      .field-name-field-figure {
        display: inline-block;
        font-size: 60px;
        line-height: 90px;
        font-weight: bold;
        color: $middleBlue;
      }

      .field-name-field-figure-suffix {
        display: inline-block;
        font-weight: bold;
        font-size: 60px;
        letter-spacing: 0.5px;
        color: $middleBlue;
      }

      .field-name-field-figure-subtitle {
        margin-top: 15px;
        font-weight: bold;
      }

      .field-name-field-figure-caption {
        margin-top: 15px;
        opacity: 0.6;
      }
    }
  }
}

@include respond-to(small) {
  .group-key-figures {
    height: auto;
    padding-top: 30px;

    .field-name-field-key-figures {
      margin-top: 70px;
      & > .field-items > .field-item {
        display: inline-block;
        vertical-align: top;
        width: 40%;
        height: auto;
        margin-bottom: 50px;
      }
    }
  }
}

@include respond-to(mobile) {
  .group-key-figures {
    .field-name-field-key-figures {
      margin-top: 70px;
      & > .field-items > .field-item {
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;

        .field-name-field-figure-prefix, .field-name-field-figure, .field-name-field-figure-suffix {
          font-size: 32px;
          line-height: normal;
        }
      }
    }
  }
}
