.node-process.node-full {
    width: 750px;
    margin: auto;

    & > .field-name-title-field {
        font-size: 35px;
        font-weight: 800;
        line-height: 35px;
        margin-bottom: 40px;
    }

    .field-name-field-detailed-description {
        margin-bottom: 50px;
    }

    .field-name-field-best-practices, .field-name-field-to-be-avoided {
        display: inline-block;
        vertical-align: top;
        width: 45%;
        .field-items,
        .field-label {
            padding-left: 30px;
        }
        .field-label {
            display: block;
            font-size: 24px;
            font-weight: bold;
            padding-left: 35px;
            margin-bottom: 25px;
            &:before {
                display: inline-block;
                content: '';
                width: 35px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: auto 20px;
                background-position: center left;
            }
        }

        &.wysiwyg div.field-items div.field-item ul {
            padding-left: 10px;
        }
    }

    .field-name-field-best-practices {
        border-left: 3px solid $green;
        margin-right: 5%;
        @include respond-to(mobile) {
            margin-right: 0;
        }
        .field-label {
            color: $green;
            &:before {
                color: $green;
                background-image: url('../assets/pictos/go.svg');
            }
        }
    }

    .field-name-field-to-be-avoided {
        border-left: 3px solid $red;
        .field-label {
            color: $red;
            &:before {
                color: $red;
                background-image: url('../assets/pictos/no-go.svg');
            }
        }
    }

    .field-name-field-process-steps {
        margin-bottom: 100px;
        & > .field-items {
            & > .field-item {
                margin-top: 20px;
                &:first-child {
                    margin-top: 80px;
                }
            }
        }
    }
}

body.node-type-process {
    h1#title {
        width: 750px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 30px;
    }
}

@include respond-to(tablet) {
    .node-process.node-full {
        max-width: 100%;
        .field-name-field-best-practices, .field-name-field-to-be-avoided {
            width: 100%;
        }
        .field-name-field-to-be-avoided {
            margin-top: 50px;
        }
    }
}

@include respond-to(mobile) {
    body.node-type-process {
        h1#title {
            width: 100%;
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }
}
