#block-main-private-main-private-contextual {
  width: 330px;

  .process-anchors {
    .anchor {
      background-color: white;
      height: 60px;
      background-repeat: no-repeat;
      background-position: center left 15px;
      background-size: 30px 30px;
      margin-bottom: 10px;

      a {
        display: block;
        height: 100%;
        padding-left: 60px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        font-family: Raleway;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: inherit;
        border-left: 3px solid $orange;
      }

      &.import {
        &.step-1 {
          background-image: url('../assets/pictos/steps/import-step1.svg');
        }
        &.step-2 {
          background-image: url('../assets/pictos/steps/import-step2.svg');
        }
        &.step-3 {
          background-image: url('../assets/pictos/steps/import-step3.svg');
        }
        &.step-4 {
          background-image: url('../assets/pictos/steps/import-step4.svg');
        }
        &.step-5 {
          background-image: url('../assets/pictos/steps/import-step5.svg');
        }
        &.step-6 {
          background-image: url('../assets/pictos/steps/import-step6.svg');
        }
        &.step-7 {
          background-image: url('../assets/pictos/steps/import-step7.svg');
        }
      }

      &.international {
         &.step-1 {
           background-image: url('../assets/pictos/steps/international-step1.svg');
         }
         &.step-2 {
           background-image: url('../assets/pictos/steps/international-step2.svg');
         }
         &.step-3 {
           background-image: url('../assets/pictos/steps/international-step3.svg');
         }
      }

      &.international-portal {
        &.step-1 {
          background-image: url('../assets/pictos/steps/international-portal-step1.svg');
        }
        &.step-2 {
          background-image: url('../assets/pictos/steps/international-portal-step2.svg');
        }
      }
    }
  }

  .substep-anchors {
    background-color: white;
    background-repeat: no-repeat;
    background-position: 10px 8px;
    background-size: 35px 35px;
    padding-bottom: 10px;

    &.import {
      &.step-1 {
        background-image: url('../assets/pictos/steps/import-step1.svg');
      }
      &.step-2 {
        background-image: url('../assets/pictos/steps/import-step2.svg');
      }
      &.step-3 {
        background-image: url('../assets/pictos/steps/import-step3.svg');
      }
      &.step-4 {
        background-image: url('../assets/pictos/steps/import-step4.svg');
      }
      &.step-5 {
        background-image: url('../assets/pictos/steps/import-step5.svg');
      }
      &.step-6 {
        background-image: url('../assets/pictos/steps/import-step6.svg');
      }
      &.step-7 {
        background-image: url('../assets/pictos/steps/import-step7.svg');
      }
    }

    &.international {
      background-image: url('../assets/pictos/picto.svg');
      &.step-1 {
        background-image: url('../assets/pictos/steps/international-step1.svg');
      }
      &.step-2 {
        background-image: url('../assets/pictos/steps/international-step2.svg');
      }
      &.step-3 {
        background-image: url('../assets/pictos/steps/international-step3.svg');
      }
    }

    &.international-portal {
      &.step-1 {
        background-image: url('../assets/pictos/steps/international-portal-step1.svg');
      }
      &.step-2 {
        background-image: url('../assets/pictos/steps/international-portal-step2.svg');
      }
    }

    .title {
      font-size: 16px;
      font-weight: 900;
      border-bottom: 1px solid #F2F2F2;
      padding-bottom: 10px;
      padding-left: 60px;
      background-image: url("../assets/pictos/picto.svg");
      background-position: 11px -4px;
      background-repeat: no-repeat;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-bottom: 15px;
    }

    .anchor {
      padding-left: 15px;
      margin-top: 5px;
      margin-bottom: 10px;

      a {
        color: $darkGrey;
        &:hover {
          color: $orange;
        }
      }
    }
  }
}

@include respond-to(small) {
  #block-main-private-main-private-contextual {
    width: 250px;
  }
}
