.form-type-textfield,
.form-type-file,
.form-type-select {
    margin-bottom: 20px;
    
  label {
    margin-bottom: 5px;
  }

  input {
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px;
    box-shadow: none;
    border-color: #bcbebf;
    font-size: 14px;
  }
}

.form-type-file {
    position: relative;
}

.form-type-password {
  label {
    margin-bottom: 5px;
  }
  input {
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px;
  }
}

.form-type-textarea {
  label {
    margin-bottom: 5px;
  }

  textarea {
    border-radius: 0;
    resize: none;
    font-size: 14px;
    box-shadow: none;
  }
}

button[type=submit],
button[type=submit].btn-success,
button[type=submit].btn-danger {
  background-color: $orange;
  height: 40px;
  min-width: 180px;
  border: none;
  text-align: left;
  padding-left: 15px;
  padding-right: 45px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
  background-image: url("../assets/pictos/arrow_white.svg");
  background-repeat: no-repeat;
  background-position: center right 15px;
  transition: background-position 0.4s;
  display: inline-block;

  .glyphicon {
    display: none;
  }

  &:hover, &:active, &:visited, &:focus {
    background-color: $darkOrange;
    background-position: center right 10px;
    color: white;
  }
}

input[type="file"] {
    border-radius: 0;
    padding: 12px;
    border: none;
    height: 50px;
}

select,
select.form-control {
    height: 35px;
    border-radius: 0;
    box-shadow: none;
}

@include respond-to(mobile) {
  button[type=submit] {
    width: 100%;
    background-position: right 15px top 17px;
  }
}
