h1, h2, h3, h4, h5 {
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-weight: 800;
}

h1 {
  font-size: 35px;
  line-height: 38px;
  letter-spacing: 0.96px;
}

h2 {
  font-size: 24px;
  letter-spacing: 0.8px;
  line-height: 28px;
}

h3 {
  font-size: 18px;
  letter-spacing: 0.64px;
}

.field-name-title-field, .field-name-field-page-title {
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 35px;
  letter-spacing: 0.96px;
  line-height: 40px;
}

@include respond-to(mobile) {
  h1 {
    font-size: 24px;
  }

  .field-name-title-field, .field-name-field-page-title {
    font-size: 24px;
    line-height: 30px;
  }
}
