div.wysiwyg {

    div.field-label {
        display: none;
    }

    div.field-items {

        div.field-item {

            p {
                em {
                    font-style: italic;
                }
            }

            a {
                @include transition(all 200ms ease-in);
                color: $orange;
                text-decoration: none;

                &:hover {
                    color: $blue;
                }
            }

            div.media {
                margin-bottom: 21px;
            }

            ul {
                padding-left: 50px;
                margin-bottom: 21px;

                li {
                    position: relative;
                    margin-bottom: 12px;

                    &:before {
                        @include fa();
                        font-size: 6px;
                        position: absolute;
                        content: "\f111";
                        color: $mediumGrey;
                        top: 9px;
                        left: -17px;
                    }

                    ul li {
                        position: relative;
                        margin-top: 12px;
                        margin-bottom: 12px;

                        &:before {
                            @include fa();
                            font-size: 6px;
                            position: absolute;
                            content: "\f1db";
                            color: $mediumGrey;
                            top: 9px;
                            left: -17px;
                        }
                    }
                }
            }

            ol {
                padding-left: 50px;
                margin-bottom: 21px;
                counter-reset: item;

                li {
                    margin-bottom: 12px;
                    display: block;

                    &:before {
                        content: counter(item) ". ";
                        counter-increment: item;
                        color: $mediumGrey;
                        font-weight: 800;
                    }
                }
            }

            video, audio, iframe {
                display: block;
                max-width: 100%;
            }

            table {
                margin-bottom: 21px;
                display: block;
                overflow-x: auto;
                width: 100% !important;

                caption {
//                  @include h3();
                }

                tr, th, td {
                    border: solid 1px $lightGrey;
                    padding: 5px;
                }

                th {
                    font-weight: 800;
                }
            }
        }
    }
}
